.app-container {
    border: 1px solid black;
  .flex-col-container {
    display: flex;
    app-header {
      border: 1px solid red;
    }
    app-side-nav {
      width: 20%;
      border: 1px solid green;
    }
    app-main {
      width: 80%;
      border: 1px solid blue;
    }
    height: calc(100vh - 71px);
  }
}

.error-message {
  color: rgb(235, 97, 97);
}